$bg-layer: hsl(180, 100%, 65%);
$final-bg-layer: hsl(200, 100, 50);
$color: hsl(0, 5, 30);

body {
    --xb: 100px;
    --yb: 100px;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    background: 
    radial-gradient(
        circle at var(--xb) var(--yb), 
        hsl(180, 100, 85), 
        hsl(210, 100, 70));
    color: $color;

    &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        background: hsl(120, 100, 95);
        width: var(--xb);
        height: var(--yb);
        transition: all 1s;
    }
}

.card {
    --xc: 300px; 
    --yc: 0;
    background: 
    radial-gradient(
        circle at var(--xc) var(--yc), 
        $bg-layer 0%, 
        $final-bg-layer 100%);
    border-radius: 15px;
    padding: 1em 2em;
    width: 40%;

    h1, p {
        pointer-events: none;
    }
}